<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="@Href("~/Content/StyleSheet.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="header">
            @RenderPage("~/Shared/_Header.cshtml")
        </div>
        <div id="navstrip">
            @RenderPage("~/Shared/_Navigation.cshtml")
        </div>
        <div id="wrapper">
            <div id="left">
                <div id="search">This is where left content goes</div>
            </div>
            <div id="content">
                @RenderBody()
            </div>
            <div id="footer">
                @*
                @if(IsSectionDefined("footer")){
                    @RenderSection("footer")
                } else {
                    <p>This is the default footer content</p>
                }
                *@
                @RenderPage("~/Shared/_Footer.cshtml", new {Year = DateTime.Now.Year})
            </div>
        </div>
    </body>
</html>
